@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #22d3ee;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #0e7490;
}
